.hero-image {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    url(../../assets/images/Highend/23722674_2024010107856169_2365836349674606210_n.jpg);
  background-position: 0 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  width: 100%;

  &__image-container {
    background-color: #fff;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
    width: 12rem;
  }
}
