.header {
  align-items: center;
  background-color: #fff;
  color: #fff;
  display: flex;
  justify-content: space-between;

  &__logo-container {
    margin: 0;
    width: 14rem;
  }

  button {
    background-color: #143787;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
}
