@import "../../assets/styles/globals";

.header {
  align-items: center;
  background-color: #fff;
  color: $white;
  display: flex;
  justify-content: space-between;

  &__logo-container {
    width: rem-calc(225);
  }

  button {
    background-color: #143787;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
}
