@import "./globals";

.margin {
  &-1 {
    margin: rem-calc(16);
  }

  &-top {
    &-1 {
      margin-top: rem-calc(16);
    }

    &-2 {
      margin-top: rem-calc(32);
    }

    &-4 {
      margin-top: rem-calc(64);

      &-half {
        margin-top: rem-calc(72);
      }
    }

    &-5 {
      margin-top: rem-calc(80);
    }
  }
}

.padding {
  &-1 {
    padding: rem-calc(16);
  }

  &-bottom {
    &-half {
      padding-bottom: rem-calc(8);
    }
  }

  &-top {
    &-half {
      padding-top: rem-calc(8);
    }
  }
}
